<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="net.prev.www.model.Post" alias="Post"/>
		<typeAlias type="net.prev.www.model.Category" alias="Category"/>
		<typeAlias type="net.prev.www.model.Member" alias="Member"/>
		<typeAlias type="net.prev.www.model.perCategory" alias="perCategory"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/post.xml"/>
		<mapper resource="mybatis/category.xml"/>
		<mapper resource="mybatis/pCategory.xml"/>
		<mapper resource="mybatis/member.xml"/>
	</mappers>
</configuration>